@media only screen and (max-width:550px){
    .fontsize_h2{
        font-size: 15px;
    }
    .manual_content li{
        font-size: 20px;
    }
    .manual_content p{
        font-size: 16px;
    }
    .member_id{
        display: none;
    }
    .infomation th,td{
        font-size: 14px;
    }
    .fontsize_image{
        font-size: 13px;
    }
}