*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding:10px;
    background-color: #FFFFF0;
    background-size: 10px 10px;
    max-width: 800px;
    min-width: 600px;
    width: 100%;
}
h1 {
    padding: 0.5em;
    color: #ffffff;
    background: #7491f1;
    border-bottom: solid 3px #516ab6;
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0 ;
}
h2{
    font-size: 18px;
    display: block;
    text-align: center;
}
.caption{
    border-bottom: double 5px #FFC778;
}
.box {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.submit {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(#868686 0%, #3a3a3a 100%);
    text-decoration: none;
    color: #fff;
    padding-top: 12.5px;
}
.submit:hover {
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    background: #6866ff;
}